html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
    
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem; /* tamaño default de navegadores */
    line-height: 2;
}

/* ---- ESTILOS GLOBALES ---*/
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/* ----- UTILIDADES -- */

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.d-block {
    display: block !important;
}

.fw300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.boton {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    display: inline-block;
    margin-top: 3rem;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover {
    text-decoration: none;
    cursor: pointer;
}

.boton-negro {
    background: #000;
}

/* --- HEADER --- */

.site-header p{
    margin: 0;
}

.c-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secc-header {
    flex: 0 0 calc(33.3% - 1rem);
}

.buscador-flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buscador-input {
    flex: 0 0 calc(50% - 1rem);
    display: inline-block;
}



.buscador-btn {
    flex: 0 0 calc(50% - 1rem);
    display: none;
    text-align: center;
}

button {
    border: none;
    padding: 5px 10px;
    background: cornflowerblue;
    font-size: 1.8rem;
    color: white;
}

input {
    padding: 5px 10px;
}

@media (min-width: 768px) {
    .buscador-btn {
        display: inline-block;
    } 
}

.c-cart-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secc-cart p {
    margin: 0;
    padding: 0;
}

.secc-cart.mi-cuenta {
    display: none;
}

.secc-cart.carrito {
    flex: 0 0 15%;
}

@media (min-width: 768px) {
    .secc-cart.mi-cuenta {
        display: block;
        flex: 0 0 calc(85% - 1rem);
    }
    .secc-cart.carrito {
        min-width: 10%;
        flex: 0 0 calc(15% - 1rem);
    }
}

/* --- NAVEGACION ---- */

.c-nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navegacion {
    list-style: none;
    margin: 0;
    padding: 0;
}

.elemento-navegacion {
    margin: 0;
    padding: 0;
    flex: 0 0 calc(40% - 1rem);
}

.elemento-navegacion a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
}

/* --- SECCION PRODUCTOS -- */
@media (min-width: 768px) {
    .contenedor-productos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.card-producto {
    border: 1px solid #b5b5b5;
    background: #f5f5f5;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .card-producto {
        flex:  0 0 calc(33.3% - 1rem);
    }
}

.contenido-producto {
    padding: 2rem;
    text-align: center;
}

.contenido-producto h3,
.contenido-anuncio p {
    padding: 0;
    margin: 0;
}

.categoria {
    margin: 0;
    color: #b5b5b5;
}

/* -- Detalle Producto -- */

@media (min-width: 768px) {
    .detail-product {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.galeria {
    flex: 0 0 calc(60% - 2rem);
    text-align: center;
}

.info-product {
    flex: 0 0 calc(40% - 2rem);
    text-align: center;
}

